<div class="navbar bg-indigo-50 fixed top-0 left-0 w-full z-50 border-b border-gray-200">
  <!-- Left: Logo -->
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" routerLink="/my-home">Dormly</a>
  </div>

  <!-- Right: Actions -->
  <div class="flex-none flex items-center space-x-8 pr-8">
    <!-- Create New Listing Link -->
    <a routerLink ="/listing" class="btn btn-outline">Create New Listing</a>

   
   
      <!-- Cart Dropdown Content -->
       <div>
      <svg class="w-6 h-6 text-gray-800 dark:text-white" routerLink = "/messages" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 10.5h.01m-4.01 0h.01M8 10.5h.01M5 5h14a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1h-6.6a1 1 0 0 0-.69.275l-2.866 2.723A.5.5 0 0 1 8 18.635V17a1 1 0 0 0-1-1H5a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"/>
      </svg>
      </div>
      

    <!-- Profile Avatar -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img *ngIf="hasLoaded" alt="User Profile" [src]="image" />
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a routerLink="/profile" class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>View listings</a></li>
        <li><a>View orders</a></li>
        <li><a>logout</a></li>
      </ul>
    </div>
  </div>
</div>
  
  