.spaces{
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    gap: 35px; 
    flex: 1 1 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.dashboard{
    background-color: lavenderblush;
}
