  <div class="relative flex max-w-xs flex-col rounded-xl bg-white shadow-md">
      <div class="relative h-56 w-full overflow-hidden rounded-xl">
        <img [src]="card.listingUrl" alt="Lorem Ipsum Product 1" class="h-full w-full cursor-pointer object-cover" />
      </div>
      <div class="p-6">
        <div class="mb-2 flex items-center justify-between">
          <p class="text-blue-gray-900 text-base font-medium">{{card.title}}</p>
          <p class="text-blue-gray-900 text-base font-medium">${{card.price}}</p>
        </div>
        <p class="text-sm text-gray-700 opacity-75">{{card.description}}</p>
      </div>
      <div class="p-6 pt-0">
        <button class="bg-blue-gray-900/10 text-blue-gray-900 hover:bg-blue-gray-900 w-full rounded-lg px-6 py-3 text-xs font-bold uppercase transition-all hover:text-white">Add to Cart</button>
      </div>
    </div>


