

<div class = "form-container">
    <form [formGroup] ="userForm" (ngSubmit) = "onSubmit()">
     <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput 
    type = "email" 
    id = "email"
    formControlName = "email"
    placeholder= "example@university.com">
    <mat-error *ngIf = "userForm.get('email')?.hasError('pattern')">
        Please ensure you have a valid email at Queens Mary University.
    </mat-error>
    </mat-form-field>

    <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type = "password" 
    id = "password"
    formControlName = "password"
    placeholder="*******">
</mat-form-field>

    
    <button mat-raised-button type = "submit" [disabled]= "!userForm.valid">Log in</button>

</form>
    </div>

