
<!--card Component that allows the user to view their profile and upload a photo. -->




<div *ngIf = "hasloaded"></div>
<div *ngFor = "let users of userProfile">
  
<div class = "flex justify-center items-center ">
<div class="card bg-base-100 w-96 shadow-xl">
  <figure class="px-10 pt-10">
    <img
      [src]= "users.image"
      alt="profile"
      class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">{{users.firstname}} {{users.lastname}}</h2>
    <p>{{users.email}}</p>
    <p>{{users.bio}}</p>
    <div class="card-actions">
      <button class="btn btn-primary">view my listings</button>
      <button class = "btn btn-primary">View my orders</button>
    </div>
    
</div>
  </div>
</div>
</div> 
